@model IEnumerable<finalproject.Models.Surgery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurgeryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurgeryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationTheater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurgeryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurgeryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationTheater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurgeryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurgeryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurgeryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
